# Change Request

This is a request for a change to infrastructure by AlexMan123456. If this gets accepted it will trigger a new deployment to apply the change. Please see more details below.

## Change reason

Re-normalise the SES email identity verification status

## Change description

It has successfully applied so Terraform wants to change the verification status to success.
