#!/bin/bash
set -euxo pipefail

dnf install -y postgresql${postgres_version}

cat >/etc/profile.d/lexicon.sh <<EOF
alias bastion-test='echo Hello!'
lexicon-db() {
    psql \
        -h "${database_address}" \
        -p "${port}" \
        -U "${database_user}" \
        -d "${database_name}" \
        "\$@"
}
EOF
