name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
    - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    if: ${{ github.repository == 'alextheman231/infrastructure' }}
    uses: alextheman231/github-actions/.github/workflows/update-dependencies.yml@d94b65a56e0f50cbbd674bc019f732bd606d7063 # v5.0.0
    secrets:
      PAT_GITHUB: ${{ secrets.ALEX_UP_BOT_GITHUB_TOKEN }}
